h1 {
  color: #7FFD4;
  font-size: 80px;
  text-align: center
}

body {
  background-color: #00008B;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center
}

table {
  border: 2px solid #FFFFFF;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

img {
  height:200px;
  width:250px;
}
